/* This is the CSS file for the ProjectGame, below are generic divs for overall webpage usage. */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 720px;
	min-width: 1440px;
	/*background-color: #394f26;*/
	background-color: #373927;
}

/* Next is the css for the header and any contents */

#header {
	height: 70px;
}

#leftDiv {
	width: 230px;
	height: 100%;
	float: left;
	display: inline-block;
	background-color: #8b6914;
}

#rightDiv {
	width: 230px;
	height: 100%;
	float: right;
	display: inline-block;
	background-color: #8b6914;
}

.unit {
	margin: 10px;
	height: 70px;
	background-color: #fff8dc;
}

.icon {
	margin: 10px;
	height: 50px;
	width: 50px;
	float: left;
	display: inline-block;
}

.iconImg {
	max-height: 50px;
	padding: auto;
	margin: auto;
	float: left;
	display: inline-block;
	background-color: #fff8dc
}

.health	{
	display: inline-block;
	margin: 10px;
	line-height: 50px;
	font-size: 50px;
}

#mainDiv {
	width: 980px;
	height: 650px;
	display: inline-block;
	background-color: #4f612d;
}

.mainComp {
	background-color: #fff8dc;
	margin: 20px;
	height: 610px;
	width: 940px;
	padding: 20px;
}

.mainHidden {
	display: none !important;
}

.invisible {
	visibility: hidden;
}

#instructions h1 {
    font-size: 40px;
    text-align: center;
    margin: 5px;
}

#instructions h2 {
	font-size: 24px;
    margin: 5px;
}

#instructions p {
	margin: 5px;
    font-size: 16px;
}

#instructions button {
    margin: 25px auto;
    display: block;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

#unitSelect {
	padding: 10px;
}

.divSelect {
	height: 390px;
	width: 440px;
	margin: 10px;
}

.divSelect h2 {
	margin: 10px;
	text-align: center;
}

.divSelect select {
	margin: 40px auto;
    display: block;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.divSelect h3 {
	margin: 40px auto;
    display: block;
    padding: 5px;
    text-align: center;
    font-weight: normal;
}

.divSelect p {
	margin: 10px;
	position: absolute;
    bottom: 0;
}

#topSelect {
	height: 160px;
	width: 900px;
	margin: 10px;
}

#topSelect h1 {
	text-align: center;
	font-size: 40px;
}

#buttonSelect {
	margin: 0 310px;
}

#topSelect button {
    margin: 40px 5px;
    display: inline-block;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

#leftSelect {
	float: left;
	position: relative;
}

#rightSelect {
	float: right;
	position: relative;
}

#board {
	padding: 10px;
}

#topBoard {
	height: 160px;
	width: 900px;
	margin: 10px;
}

#topBoard h1 {
	text-align: center;
	font-size: 40px;
}

#topBoard p {
	text-align: center;
	margin: 20px 0;
}

#topBoard button {
	margin: 0 auto;
    display: block;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

#midBoard {
	height: 390px;
	width: 900px;
	margin: 10px;
	text-align: center;
}

#midBoard p {
	display: inline-block;
	font-size: 20px;
	margin: 10px 20px;
}

.divBoard select {
	margin: 10px 20px;
    display: inline-block;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

#stats {
	padding: 10px;
}

.divStats {
	height: 390px;
	width: 440px;
	margin: 10px;
	text-align: center;
}

.divStats h2 {
	margin: 15px;
}

.divStats p {
	margin: 15px;
}

.divStats table {
	margin: 0 auto;
}

#topStats {
	height: 160px;
	width: 900px;
	margin: 10px;
}

#topStats h1 {
	text-align: center;
	font-size: 40px;
}

#topStats button {
    margin: 40px auto;
    display: block;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

#leftStats {
	float: left;
}

#rightStats {
	float: right;
}